<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="holidaygotest.splashtest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainMenu"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".UseLocation"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AppOptions"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionNorthSouth"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionCalendar"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionLocation"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionHotel"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".OptionFinalEdit"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".FinalShare"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>